<app-page-header
  [title]="'Dean\'s Welcome Message'"
  [breadcrumbs]="[{ label: 'About Us', url: '/about-us' }, { label: 'Dean Message' }]">
</app-page-header>
<section class="dean-message-section col-md-12">
  <div class="container-fluid">
    <!-- Page Header -->
    <div class="dean-message-container">

      <div class="dean-card">
        <div class="dean-profile">
          <div class="dean-photo-wrapper">
            <img [src]="deanInfo.photo" [alt]="deanInfo.name" class="dean-photo">
            <div class="photo-frame"></div>
        <div class="dean-content">
            </div>
            <div class="dean-info">
              <h3 class="dean-name">{{ deanInfo.name }}</h3>
              <p class="dean-title">{{ deanInfo.title }}</p>
              <div class="dean-badge">
                <i class="pi pi-star"></i>
                <span>Dean</span>
              </div>
            </div>
          </div>

          <div class="message-content">
            <div class="message-text">
              <p *ngFor="let paragraph of formatMessage(deanInfo.message)" class="message-paragraph">
                {{ paragraph }}
              </p>
            </div>
            
            <div class="message-signature">
              <div class="signature-line"></div>
              <div class="signature-info">
                <p class="signature-name">{{ deanInfo.name }}</p>
                <p class="signature-title">{{ deanInfo.title }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>


<app-footer></app-footer>